@import 'src/app/styles/variables/global.scss';

.NotFoundPage {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}

.linksBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.subtitle {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

@media (max-width: map-get($breakpoints, dekstop)) {}

@media (max-width: map-get($breakpoints, tablet)) {
    .NotFoundPage {
            padding: 40px 20px 20px;
        }
}

@media (max-width: map-get($breakpoints, mobile)) {
    .NotFoundPage {
        padding: 40px 10px 10px;
    }
    
    .title {
        font-size: 22px;
    }
}