.app.dark {
  --bg-color: #020b14;
  --color-primary-100: #fff;
  --color-primary-200: #bfc9d4;
  --color-accent-100: #00a1e7;
  --color-accent-200: #1f73f9;
  --color-accent-gradient: linear-gradient(90deg, #0699db 0%, #2d5e87 25%, #2e2a3f 50%, #341926 75%, #150c15 100%);
}
