.app.dark {
    --bg-color: #020B14;

    --color-primary-100: #FFFFFF;
    --color-primary-200: #BFC9D4;

    --color-accent-100: #00A1E7;
    --color-accent-200: #1F73F9;
    --color-accent-gradient: linear-gradient(90deg, #0699DB 0%, #2D5E87 25%, #2E2A3F 50%, #341926 75%, #150C15 100%);
    // neutral
    // feedback (error, warning, success)
}
