@import 'src/app/styles/variables/global.scss';

.logoContainer {
    padding: 28px 0;
    width: 148px;
}

.lineContainer {
    padding: 9px 0;
}

.line {
    height: 2px;
    width: 100%;
    background: var(--color-accent-gradient);
}

@media (max-width: map-get($breakpoints, tablet)) {
    .logoContainer {
        padding: 20px 0 20px 20px;
    }
}

@media (max-width: map-get($breakpoints, mobile)) {
    .logoContainer {
        padding: 20px 0 20px 20px;
    }
}